## LISTS

Lists are <u>**ordered mutable**</u> sequences

- 기존 프로그래밍 언어의 배열과 비슷해요.
- <span style="color:blue">무엇이든!</span> <span style="color:red">섞어서!</span> 담을 수 있어요.

In [18]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)

print(mylist)

mylist = [1,2,3]

print(mylist)

[1, 2, 3]
[1, 2, 3]

In [19]:
len(mylist)

3

In [21]:
1 in mylist, 2 in mylist, 3 in mylist, 4 in mylist

(True, True, True, False)

In [8]:
# 종종 index가 필요할 때
for i, name in enumerate(mylist):
    print(i, name)

0 1
1 2
2 3

In [22]:
# 문자열도 list로 바꿀 수 있어요.
list('helloworld')

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [23]:
# 복제
mylist * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [101]:
# 결합
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [106]:
# 비교
([1,2,3] == [1,2,3],
 id([1,2,3]),
 id([1,2,3,4,5]))

(True, 108021960, 108021960)

In [119]:
# 비교
lst = [1,2,3]
lst2 = [1,2,3,4,5]

id(lst), id(lst2), id([]), id([1,2,3])

(113445320, 113051720, 113360456, 113360456)

In [121]:
# indexing, slicing도 동작합니다.
(mylist[1],
 mylist[1:])

(2, [2, 3])

In [120]:
# Accessing an index which does not exist generates an exception (an error).
mylist[10]

IndexError: list index out of range

## EXERCISE

In [5]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = None


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[]
[]
The second name on the names list is None

## DICTIONARIES

In [24]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781

phonebook

{'Jack': 938377264, 'Jill': 947662781, 'John': 938477566}

In [64]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}
phonebook

{'Jack': 938377264, 'Jill': 947662781, 'John': 938477566}

In [67]:
phonebook = dict(John=938477566, Jack=938377264, Jill=947662781)
phonebook

{'Jack': 938377264, 'Jill': 947662781, 'John': 938477566}

In [46]:
len(phonebook)

3

In [29]:
for entry in phonebook:
    print(entry)

for entry in phonebook:
    print(entry, phonebook[entry])
    
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

John
Jack
Jill
John 938477566
Jack 938377264
Jill 947662781
Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [36]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
phonebook

{'Jack': 938377264, 'Jill': 947662781}

In [23]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
phonebook

{'Jack': 938377264, 'Jill': 947662781}

In [42]:
("Jack" in phonebook,
 "Wook" in phonebook)

(True, False)

In [39]:
phonebook["Wook"]

KeyError: 'Wook'

In [22]:
(phonebook.get('Jack'),
 phonebook.get("Wook"),
 phonebook.get("Wook", "Noname"))

NameError: name 'phonebook' is not defined

In [31]:
phonebook.setdefault('Mei', 0)
phonebook.setdefault('Jack', 0)
phonebook

{'Jack': 938377264, 'Jill': 947662781, 'John': 0, 'Mei': 0, 'Wook': 0}

In [42]:
phonebook.update({'Isoo': 7, 'Iryan': 8})
phonebook

{'Iryan': 8,
 'Isoo': 7,
 'Jack': 938377264,
 'Jill': 947662781,
 'John': 0,
 'Mei': 0,
 'Wook': 0}

In [126]:
({1:2} == {1:2},
 id({1:2}),
 id({1:3}))

(True, 113235360, 113235360)

python3.6부터는 dictionaries는 key의 insertion order가 지켜집니다. 이전 버전에서는 `OrderedDict`을 사용했습니다. 그렇지만 하위호환성을 유지하고, 명시적으로 정렬된다는 것이 드러나도록 `OrderedDict`을 계속 사용하는 것이 좋습니다.

http://stackoverflow.com/questions/39980323/dictionaries-are-ordered-in-python-3-6

In [43]:
#Lib/collections/init.py
from collections import OrderedDict
od = OrderedDict([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3'), ('k4', 'v4')])
od2 = OrderedDict([('k4', 'v4'), ('k2', 'v2'), ('k3', 'v3'), ('k1', 'v1')])
nd = dict([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3'), ('k4', 'v4')])
nd2 = dict([('k4', 'v4'), ('k2', 'v2'), ('k3', 'v3'), ('k1', 'v1')])
list(od.keys()) == list(nd.keys()), nd == nd2, od == nd, od == nd2, od2 == od

(True, True, True, True, False)

In [46]:
# 다양한 초기화 방법
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('one', 1), ('two', 2), ('three', 3)])
e = {'one': 1, 'two': 2, 'three': 3}
a == b == c == d == e

True

In [49]:
# 아직도 볼게 많습니다.
print(dir({}))  # copy, fromkeys, popitem, clear

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [51]:
# collections.defaultdict, collections.Counter 도 종종 사용합니다.
from collections import defaultdict
d = defaultdict(int)
d['hello'] += 1
d

defaultdict(int, {'hello': 1})

In [63]:
from collections import Counter
print(Counter('helloworld'))
print(Counter('helloworld').most_common())
print(Counter('helloworld').most_common(3))

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, 'w': 1, 'r': 1, 'd': 1})
[('l', 3), ('o', 2), ('h', 1), ('e', 1), ('w', 1), ('r', 1), ('d', 1)]
[('l', 3), ('o', 2), ('h', 1)]

In [58]:
from collections import ChainMap
import builtins
pylookup = ChainMap(locals(), globals(), vars(builtins))

collections.ChainMap

## EXERCISE

In [47]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

# write your code here


# testing code
if "Jake" in phonebook:
    print("Jake is listed in the phonebook.")
if "Jill" not in phonebook:
    print("Jill is not listed in the phonebook.")

## TUPLES

- Tuples are immutable sequences
  - *Lists are ordered mutable sequences*
- append나 extend같은 명령어를 사용해서 element를 추가할 수 __없습니다.__
- element를 삭제할 수도 __없습니다.__
- tuple안의 element를 검색할 수는 있습니다.
- in operator도 사용할 수 있습니다.

#### 왜 TUPLE이 필요한가요? 나는 LIST로 충분할 것 같은데요?

LIST보다 빠릅니다.

In [92]:
from timeit import timeit
(timeit(lambda: sum((1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20))),
 timeit(lambda: sum([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])))

(0.6207392134485303, 0.6997436094081877)

- 이 데이터는 변하지 않을 거라는 믿음(자신감)을 줘요.
- DB에서 온 조회성 데이터
- 안전한 프로그래밍(write-protected)

변하지 않기 때문에 hashable할 수 있고, dictionary의 key로도 쓰일 수 있습니다.

In [96]:
d={}
d[(1,2,3)] = (4,5,6)
d[(1,2,3)] = (5,6,7)
d

{(1, 2, 3): (5, 6, 7)}

In [97]:
d[[1,2,3]] = (4,5,6)

TypeError: unhashable type: 'list'

In [58]:
member = ('Paul', 'Bass', 1942)
member2 = ('Ringo', 'Drum', 1940)

괄호가 꼭 필요한건 아니에요.

In [6]:
row = 1, 'Fred'
row2 = (2, 'Bob')
row3 = ('Bill')
row4 = ('Bill',)
row5 = 'Bill',
row6 = ()

LIST와 비슷하게 연산자를 사용할 수 있습니다.

In [63]:
('Paul' in member,
 len(member),
 member + member2,
 member * 3)

(True,
 3,
 ('Paul', 'Bass', 1942, 'Ringo', 'Drum', 1940),
 ('Paul', 'Bass', 1942, 'Paul', 'Bass', 1942, 'Paul', 'Bass', 1942))

In [98]:
for entry in member:
    print(entry)

Paul
Bass
1942

In [100]:
((1,2,3) == (1,2,3),
 id((1,2,3)),
 id((1,2,3)))

(True, 113239528, 113288176)

### (참고) namedtuple은 기본내장형은 아니지만 많이 사용해요.

In [53]:
from collections import namedtuple
Member = namedtuple('Member', 'name,instrument,birth_year')
member = Member('George', 'Guitar', 1942)
member

Member(name='George', instrument='Guitar', birth_year=1942)

In [55]:
(member[1],
 member.name)

('Guitar', 'George')

## SETS

A set is a mutable **unordered** collection that **cannot contain duplicates**.

In [12]:
print(set("my name is Eric and Eric is my name".split()))

{'Eric', 'is', 'and', 'my', 'name'}

In [13]:
a = set(["Jake", "John", "Eric"])
print(a)
b = set(["John", "Jill"])
print(b)

{'Jake', 'Eric', 'John'}
{'Jill', 'John'}

In [14]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

set(['John'])
a.intersection(b)
set(['John'])
b.intersection(a)
set(['John'])

{'John'}

In [15]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

a.symmetric_difference(b)
set(['Jill', 'Jake', 'Eric'])
b.symmetric_difference(a)
set(['Jill', 'Jake', 'Eric'])

{'Eric', 'Jake', 'Jill'}

In [16]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

a.difference(b)
set(['Jake', 'Eric'])
b.difference(a)
set(['Jill'])

{'Jill'}

In [17]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

a.union(b)
set(['Jill', 'Jake', 'John', 'Eric'])

{'Eric', 'Jake', 'Jill', 'John'}

## EXERCISE

In [ ]:
a = ["Jake", "John", "Eric"]
b = ["John", "Jill"]